<template>
  <div class="app-container">
    <filter-search :list-query="listQuery" :handle-download="handleDownload" :handle-filter="handleFilter" :source="'case_mpit'"/>

    <el-table
      :key="tableKey"
      v-loading="listLoading"
      :data="list"
      border
      fit
      highlight-current-row
      style="width: 100%;"
      @sort-change="sortChange"
    >
      <el-table-column label="ID" prop="id" align="center" width="300">
        <template slot-scope="{row}">
          <span class="link-type" @click="handleUpdate(row)">{{ row.id }}</span>
        </template>
      </el-table-column>
      <el-table-column label="casenumber" min-width="150px">
        <template slot-scope="{row}">
          <span>{{ row.casenumber }}</span>
        </template>
      </el-table-column>
      <el-table-column class-name="status-col" label="Status" width="110">
        <template slot-scope="{row}">
          {{ row.status }}
        </template>
      </el-table-column>
      <el-table-column label="created at" prop="created_at" sortable="custom" min-width="150px" >
        <template slot-scope="{row}">
          <span>{{ row.created_at_fm }}</span>
        </template>
      </el-table-column>
      <el-table-column label="acountid" min-width="150px">
        <template slot-scope="{row}">
          <span>{{ row.acountid }}</span>
        </template>
      </el-table-column>
      <el-table-column label="nhan vien cskh " min-width="150px">
        <template slot-scope="{row}">
          <span>{{ row.nhan_vien_cskh__c }}</span>
        </template>
      </el-table-column>
      <el-table-column label="number records processed" min-width="150px">
        <template slot-scope="{row}">
          <span>{{ row.number_records_processed }}</span>
        </template>
      </el-table-column>
      <el-table-column label="nhom dich vu " min-width="150px">
        <template slot-scope="{row}">
          <span>{{ row.nhom_dich_vu__c }}</span>
        </template>
      </el-table-column>
      <el-table-column label="origin" min-width="150px">
        <template slot-scope="{row}">
          <span>{{ row.origin }}</span>
        </template>
      </el-table-column>
      <el-table-column label="sfid" min-width="150px">
        <template slot-scope="{row}">
          <span>{{ row.sfid }}</span>
        </template>
      </el-table-column>
    </el-table>
    <pagination v-show="total>0" :total="total" :page.sync="listQuery.offset" :limit.sync="listQuery.limit" @pagination="getList" />

    <el-dialog title="Detail" :visible.sync="dialogFormVisible">
      <el-form ref="dataForm" :rules="rules" :model="temp" label-position="left" label-width="35%" style="width: 80%; margin-left:50px;">
        <el-form-item label="ID" prop="id">
          <el-input v-model="temp.id" />
        </el-form-item>
        <el-form-item label="casenumber" prop="casenumber">
          <el-input v-model="temp.casenumber" />
        </el-form-item>
        <el-form-item label="acountid" prop="acountid">
          <el-input v-model="temp.acountid" />
        </el-form-item>
        <el-form-item label="nhan_vien_cskh__c" prop="nhan_vien_cskh__c">
          <el-input v-model="temp.nhan_vien_cskh__c" />
        </el-form-item>
        <el-form-item label="created date" prop="created date">
          <el-input v-model="temp.created_date" />
        </el-form-item>
        <el-form-item label="nhom_dich_vu__c" prop="nhom_dich_vu__c">
          <el-input v-model="temp.nhom_dich_vu__c" />
        </el-form-item>
        <el-form-item label="location_type__c" prop="location_type__c">
          <el-input v-model="temp.location_type__c" />
        </el-form-item>
        <el-form-item label="service__c" prop="service__c">
          <el-input v-model="temp.service__c" />
        </el-form-item>
        <el-form-item label="description" prop="description">
          <el-input v-model="temp.description" />
        </el-form-item>
        <el-form-item label="origin" prop="origin">
          <el-input v-model="temp.origin" />
        </el-form-item>
        <el-form-item label="priority" prop="priority">
          <el-input v-model="temp.priority" />
        </el-form-item>
        <el-form-item label="employee__c" prop="employee__c">
          <el-input v-model="temp.employee__c" />
        </el-form-item>
        <el-form-item label="so_phieu_khieu_nai__c" prop="so_phieu_khieu_nai__c">
          <el-input v-model="temp.so_phieu_khieu_nai__c" />
        </el-form-item>
        <el-form-item label="tai_lieu_dinh_kem__c" prop="tai_lieu_dinh_kem__c">
          <el-input v-model="temp.tai_lieu_dinh_kem__c" />
        </el-form-item>
        <el-form-item label="pos__c" prop="pos__c">
          <el-input v-model="temp.pos__c" />
        </el-form-item>
        <el-form-item label="sales_order__c" prop="sales_order__c">
          <el-input v-model="temp.sales_order__c" />
        </el-form-item>
        <el-form-item label="transactionid" prop="transactionid">
          <el-input v-model="temp.transactionid" />
        </el-form-item>
        <el-form-item label="suppliedname" prop="suppliedname">
          <el-input v-model="temp.suppliedname" />
        </el-form-item>
        <el-form-item label="suppliedemail" prop="suppliedemail">
          <el-input v-model="temp.suppliedemail" />
        </el-form-item>
        <el-form-item label="ng_y_ti_p_nh_n__c" prop="ng_y_ti_p_nh_n__c">
          <el-input v-model="temp.ng_y_ti_p_nh_n__c" />
        </el-form-item>
        <el-form-item label="ma_khach_hang_di_san__c" prop="ma_khach_hang_di_san__c">
          <el-input v-model="temp.ma_khach_hang_di_san__c" />
        </el-form-item>
        <el-form-item label="error" prop="error">
          <el-input v-model="temp.error" />
        </el-form-item>
        <el-form-item label="sfid" prop="sfid">
          <el-input v-model="temp.sfid" />
        </el-form-item>
        <el-form-item label="li_do_khieu_nai__c" prop="li_do_khieu_nai__c">
          <el-input v-model="temp.li_do_khieu_nai__c" />
        </el-form-item>
        <el-form-item label="created_at" prop="created_at">
         <el-input v-model="temp.created_at_fm" />
        </el-form-item>

      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button @click="dialogFormVisible = false">
          Cancel
        </el-button>
<!--        <el-button type="primary" @click="dialogStatus==='create'?createData():updateData()">-->
<!--          Confirm-->
<!--        </el-button>-->
      </div>
    </el-dialog>
  </div>
</template>

<script>
  import { listCaseMpit } from '@/api/logs'
  import waves from '@/directive/waves' // waves directive
  import { parseTime } from '@/utils'
  import Pagination from '@/components/Pagination'
  import FilterSearch from '../filter-search' // secondary package based on el-pagination

  export default {
    name: 'jobs',
    components: { FilterSearch, Pagination },
    directives: { waves },
    data() {
      return {
        tableKey: 0,
        list: null,
        total: 0,
        listLoading: true,
        listQuery: {
          offset: 0,
          limit: 20,
          casenumber: undefined,
          acountid: undefined,
          nhan_vien_cskh__c: undefined,
          service__c: undefined,
          status_case_mpit: undefined,
          sfid: undefined,
          created_at: undefined,
        },
        temp: {
          id: '',
          pid: '',
          operation: '',
          object: '',
          created_date: '',
          concurrency_mode: '',
          content_url: '',
          content_type: '',
          job_id: '',
          merchant: '',
          number_records_processed: '',
          number_records_failed: ''
        },
        showReviewer: false,
        dialogFormVisible: false,
        dialogStatus: '',
        textMap: {
          update: 'Edit',
          create: 'Create'
        },
        dialogPvVisible: false,
        pvData: [],
        rules: {
          type: [{ required: true, message: 'type is required', trigger: 'change' }],
          timestamp: [{ type: 'date', required: true, message: 'timestamp is required', trigger: 'change' }],
          title: [{ required: true, message: 'title is required', trigger: 'blur' }]
        },
        downloadLoading: false
      }
    },
    mounted() {
      this.handleFilter()
    },
    methods: {
      getList() {
        this.listLoading = true
        listCaseMpit(this.listQuery).then(response => {
          response = response.body;
          this.list = response.results
          this.total = response.total*1

          // Just to simulate the time of the request
          setTimeout(() => {
            this.listLoading = false
          }, 1.5 * 1000)
        }).catch(e => {
          setTimeout(() => {
            this.listLoading = false
          }, 1.5 * 1000)
        })
      },
      handleFilter() {
        this.listQuery.offset = 0
        this.getList()
      },
      detailJob(pid) {
        this.$router.push({name: 'Tracking', query: { sf_job_id: pid } });
      },
      handleUpdate(row) {
        this.temp = Object.assign({}, row) // copy obj
        this.temp.timestamp = new Date(this.temp.timestamp)
        this.dialogStatus = 'update'
        this.dialogFormVisible = true
        this.$nextTick(() => {
          this.$refs['dataForm'].clearValidate()
        })
      },
      handleDownload() {
        this.downloadLoading = true
        import('@/vendor/Export2Excel').then(excel => {
          const tHeader = ['id', 'pid', 'operation', 'object', 'created_date', 'concurrency_mode', 'content_url', 'content_type', 'job_id', 'merchant', 'number_records_processed', 'number_records_failed']
          const filterVal = ['id', 'pid', 'operation', 'object', 'created_date', 'concurrency_mode', 'content_url', 'content_type', 'job_id', 'merchant', 'number_records_processed', 'number_records_failed']
          const data = this.formatJson(filterVal)
          excel.export_json_to_excel({
            header: tHeader,
            data,
            filename: 'jobs'
          })
          this.downloadLoading = false
        })
      },
      formatJson(filterVal) {
        return this.list.map(v => filterVal.map(j => {
          if (j === 'timestamp') {
            return parseTime(v[j])
          } else {
            return v[j]
          }
        }))
      },
      sortChange(data) {
        const { prop, order } = data
        if (prop === 'created_at') {
          this.sortByCreatedAt(order)
        }
      },
      sortByCreatedAt(order) {
        if (order === 'ascending') {
          this.listQuery.orderBy = 'created_at desc'
        } else {
          this.listQuery.orderBy = 'created_at asc'
        }
        this.handleFilter()
      }
    }
  }
</script>
