<template>
  <div class="filter-container">
    <el-input v-model="queries.id" placeholder="Id" style="width: 200px;" class="filter-item"
              @keyup.enter.native="handleFilter"/>
    <el-select v-if="'merchant' in queries" v-model="queries.merchant" placeholder="merchant" clearable class="filter-item" style="width: 130px">
      <el-option v-for="item in merchant" :key="item.key" :label="item.display_name+'('+item.key+')'" :value="item.key" />
    </el-select>
    <el-input v-if="'object' in queries" v-model="queries.object" placeholder="object" style="width: 200px;" class="filter-item"
              @keyup.enter.native="handleFilter"/>
    <el-input v-if="'sf_job_id' in queries" v-model="queries.sf_job_id" placeholder="SF job id" style="width: 200px;" class="filter-item"
              @keyup.enter.native="handleFilter"/>
    <el-input v-if="'job_id' in queries" v-model="queries.job_id" placeholder="Job id" style="width: 200px;" class="filter-item"
              @keyup.enter.native="handleFilter"/>
    <el-input v-if="'casenumber' in queries" v-model="queries.casenumber" placeholder="casenumber" style="width: 200px;" class="filter-item"
              @keyup.enter.native="handleFilter"/>
    <el-input v-if="'acountid' in queries" v-model="queries.acountid" placeholder="acountid" style="width: 200px;" class="filter-item"
              @keyup.enter.native="handleFilter"/>
    <el-input v-if="'nhan_vien_cskh__c' in queries" v-model="queries.nhan_vien_cskh__c" placeholder="nhan_vien_cskh__c" style="width: 200px;" class="filter-item"
              @keyup.enter.native="handleFilter"/>
    <el-input v-if="'service__c' in queries" v-model="queries.service__c" placeholder="service__c" style="width: 200px;" class="filter-item"
              @keyup.enter.native="handleFilter"/>
    <el-input v-if="'pos__c' in queries" v-model="queries.pos__c" placeholder="pos__c" style="width: 200px;" class="filter-item"
              @keyup.enter.native="handleFilter"/>
    <el-input v-if="'sfid' in queries" v-model="queries.sfid" placeholder="sfid" style="width: 200px;" class="filter-item"
              @keyup.enter.native="handleFilter"/>
    <el-select v-if="('status' in queries) && source == 'logs'" v-model="queries.status" placeholder="Status" clearable class="filter-item" style="width: 130px">
      <el-option v-for="item in status" :key="item.key" :label="item.display_name+'('+item.key+')'" :value="item.key" />
    </el-select>
    <el-select v-if="('status_case_mpit' in queries) && source == 'case_mpit' " v-model="queries.status" placeholder="Status" clearable class="filter-item" style="width: 130px">
      <el-option v-for="item in status_case_mpit" :key="item.key" :label="item.display_name+'('+item.key+')'" :value="item.key" />
    </el-select>
    <el-select v-if="'state' in queries" v-model="queries.state" placeholder="State" clearable class="filter-item" style="width: 130px">
      <el-option v-for="item in states" :key="item.key" :label="item.display_name" :value="item.key" />
    </el-select>
    <el-input v-if="'operation' in queries" v-model="queries.operation" placeholder="operation" style="width: 200px;" class="filter-item"
              @keyup.enter.native="handleFilter"/>
    <el-date-picker
      v-if="'created_at' in queries"
      v-model="queries.created_at"
      class="filter-item"
      type="datetimerange"
      range-separator="To"
      start-placeholder="Start date"
      end-placeholder="End date">
    </el-date-picker>
    <el-button v-waves class="filter-item" type="primary" icon="el-icon-search" @click="handleFilter">
      Search
    </el-button>
<!--    <el-button v-waves :loading="downloadLoading" class="filter-item" type="primary" icon="el-icon-download"-->
<!--               @click="handleDownload">-->
<!--      Export-->
<!--    </el-button>-->
  </div>
</template>

<script>
  import waves from '@/directive/waves' // waves directive

  const status = [
    { key: '1', display_name: 'success' },
    { key: '0', display_name: 'queue' },
    { key: '2', display_name: 'fail' },
  ]
  const status_case_mpit = [
    { key: 'Đã tiếp nhận', display_name: 'Đã tiếp nhận' },
    { key: 'Chưa xử lý', display_name: 'Chưa xử lý' },
    { key: 'Đang xử lí', display_name: 'Đang xử lí' },
    { key: 'Đã hoàn thành', display_name: 'Đã hoàn thành' },
    { key: 'Đã có kết quả', display_name: 'Đã có kết quả' },
  ]
  const states = [
    { key: 'JobComplete', display_name: 'JobComplete' },
    { key: 'Open', display_name: 'Open' },
    { key: 'Failed', display_name: 'Failed' },
    { key: 'UploadComplete', display_name: 'UploadComplete' },
    { key: 'Aborted', display_name: 'Aborted' },
  ]
  const merchant = [
    { key: 'GATEWAY', display_name: 'GATEWAY' },
    { key: 'MYVNPOST', display_name: 'MYVNPOST' },
    { key: 'BCCP', display_name: 'BCCP' },
    { key: 'MPITS', display_name: 'MPITS' },
    { key: 'CTEL', display_name: 'CTEL' },
    { key: 'SalePortal', display_name: 'SalePortal' },
    { key: 'PackAndSend', display_name: 'PackAndSend' },
    { key: 'BI', display_name: 'BI' },
  ]
  export default {
    name: 'filter-search',
    directives: { waves },
    props: {
      listQuery: {
        type: Object,
        default: {}
      },
      source: {
        type: String,
        default: 'logs'
      },
      handleFilter: {
        type: Function,
        require: true
      },
      handleDownload: {
        type: Function,
        require: true
      },
      downloadLoading: {
        type: Boolean,
        default: false
      }
    },
    data() {
      return {
        queries: this.listQuery,
        status,
        states,
        status_case_mpit,
        merchant
      }
    }
  }
</script>

<style scoped>

</style>
